$margin-value: 50px;
$bg-color: #eee;
$link-black: #5f5f5f;
$link-black-hover: #2D2D2D;
$link-white: #ccc;
$link-white-hover: #fff;
$text-color-1: #808080;

.dflex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.shadow{
	box-shadow: 0 0 12px 0px grey !important;
}

body {
	background-color: $bg-color;
}

.activeLink {
	color: #444 !important;
	background-color: #ffffffd6;
}




// test block with id=book
.xslider-container{
	overflow-x: hidden;
	.xslider{
		//background-color: #333;
		//color: #eee;
		position: relative;
		opacity: 0;
		transform: translateX(2400px);
	}
}
#book-container{
	//position: relative;
	//overflow-x: hidden;
	#book {
		width: 200px;
		/* background-color: #333;
		color: #eee;
		position: relative;
		opacity: 0;
		transform: translateX(2400px); */
	}
}
// end of test block with id=book



/* .menu li {
	display: inline-block;
	margin: 0 50px;
} */

/* .home {
	input {
		margin: 2px;
		background-color: #CCBD19FF;
	}
} */

/* .test-block .row .col {
	text-align: center;
} */


header{
	height: 60px;
	nav{
		background: linear-gradient(-10deg, #14194C, #1F3F64);
		ul li a {
			color: $link-white !important;
			border-radius: 6px;
			transition: color .5s, background-color .5s;
			&:hover:not(.activeLink) {
				color: $link-white-hover !important;
			}
		}
		>a {
			margin-left: $margin-value;
			img {
				margin-right: 10px;
				transform: translateY(-7%);
			}
		}
		div {
			margin-right: $margin-value;
		}
	}
}


section {
	color: $text-color-1;
	h2 {
		margin: 20px auto;
		text-align: center;
	}
	ul {
		padding: 0;
		li {
			list-style: none;
			margin: 15px 0;
			.row {
				background-color: #fff;
				box-shadow: 0 0 2px 0px #444;
				border-radius: 4px;
				transition: box-shadow .5s;
				div:nth-child(1) {
					text-align: center;
					>* {
						font-size: 24px;
						margin-left: 15px;
						margin-bottom: 6px;
					}
				}
				div:nth-child(2) {
					a {
						margin: 1rem auto;
						justify-content: space-between;
						text-decoration: none;
						color: $link-black;
						&:hover {
							color: $link-black-hover;
							& svg {
								//transform: scale(1, -1);
							}
						}
						svg {
							transition: transform .5s;
						}
					}
					.hide-block {
						display: none;
					}
				}
			}
		}
	}
	&.calc {
		color: $text-color-1;
		.tblock {
			background-color: green;
			width: 600px;
			margin: auto;
		}
		.col {
			h2 {
				text-align: center;
				margin: 20px auto;
			}
			.calendar-block {
				margin: auto;
			}
			.range-block {
				text-align: center;
				height: 70px;
				.range-counter {
					height: inherit;
					align-items: flex-end;
					overflow: hidden;
					p {
						margin-bottom: 0;
						span {
							line-height: 1;
						}
					}
				}
				.counter-placeholder {
					font-size: 50px;
					margin: 0 20px;
				}
			}
		}
	}
	&.contacts {
		ul li {
			margin: 15px 0;
			.row {
				div:first-of-type {
					justify-content: flex-start;
					.icon-holder {
						margin: 0;
						svg {
							margin-bottom: 0;
							margin-right: 30px;
						}
					}
					h4 {
						margin: 1rem 0;
					}
				}
				div:last-of-type {
					justify-content: flex-end;
					button {
						position: relative;
						width: 75%;
						height: 60%;
						max-width: 200px;
						a {
							justify-content: center;
							margin: 0;
							text-decoration: none;
							text-align: center;
							position: absolute;
							width: 100%;
							height: 100%;
							text-transform: uppercase;
							transition: background-color .5s;
							&:hover {
								background-color: rgba(128, 128, 128, 0.16);
							}
						}
					}
				}
			}
		}
	}
}




@media (max-width: 575px){
	header nav{
		>a {
			margin-left: 0;
		}
		div {
			margin-right: 0;
		}
		.nav-link {
			margin: 0 -15px;
			padding-left: 15px !important;
		}
	}

	.m0 {
		margin: 0;
	}

	section.contacts {
		li>*> {
			div:first-of-type {
				justify-content: center !important;
				svg {
					margin-left: 0 !important;
				}
			}
			div:last-of-type {
				height: 50px !important;
				justify-content: center !important;
				button {
					width: 100% !important;
					transform: translateY(-5px);
				}
			}
		}
	}
}



